.roadmap {
  background: url("../../public/assets/map-bg.webp");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  min-height: 91.6vh;
  // background-color: #b03323;
  padding: 40px 0;
  @include flexCenter;
  flex-direction: column;
  gap: 60px;
  @include desktop {
    min-height: 81.6vh;
    gap: 30px;
  }

  // &::after {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: #282b30;
  //   clip-path: polygon(100% 0, 0 100%, 100% 100%);
  //   z-index: 0;
  // }

  & > h2 {
    @include titleSection;
    margin-bottom: 50px;
    margin-top: -50px;
  }

  .container {
    // background-color: green;
    transform: translateY(80px);
    justify-content: center;
    position: relative;
    z-index: 1;
    gap: 15%;
    @include desktop {
      transform: translateY(0);
      flex-direction: column;
    }
    .line {
      position: absolute;
      background-color: #fff;
      transform: translateY(-45px);
      height: 2px;
      width: 100%;
      z-index: -1;
      opacity: 0.35;
      @include tablet {
        display: none;
      }
    }

    .phases {
      @include flexCenter;
      justify-content: space-evenly;
      width: 100%;
      gap: 5%;
      @include tablet {
        flex-wrap: wrap;
      }

      @include phone {
        flex-direction: column;
      }

      .phase {
        @include flexCenter;
        flex-direction: column;
        gap: 20px;
        @include tablet {
          margin-bottom: 70px;
        }
        &-title {
          font-size: $base-font-size * 1.4;
          text-align: center;
          opacity: 0.8;
          transition: 0.35s;
        }

        &-circle {
          @include flexCenter;
          position: relative;
          // border-radius: 50%;
          width: 90px;
          height: 90px;
          &::before {
            content: "";
            position: absolute;
            // color: rgb(176, 51, 35);
            background: rgb(206, 84, 68);
            filter: blur(1px);
            transform: scale(0.75);
            border-radius: 50%;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.15;
            transition: all 0.35s;
          }

          h4 {
            // box-shadow: 0px 0px 30px 10px #0ff;
            background-color: rgb(206, 84, 68);
            padding: 15px;
            border-radius: 50%;
          }
        }

        &-detail {
          margin-top: 30px;
          opacity: 0;
          transition: 0.35s;
          li {
            color: rgb(201, 201, 201);
            font-size: $base-font-size * 1.1;
            line-height: $base-font-size * 1.5;
          }
          @include tablet {
            opacity: 1;
          }
        }

        &:hover {
          .phase-title {
            @include tablet {
              transform: translateY(0);
            }
            transform: translateY(-30px);
          }
          .phase-circle {
            &::before {
              @include tablet {
                transform: scale(1.1);
              }
              transform: scale(1.25);
              opacity: 0.25;
            }
          }
          .phase-detail {
            opacity: 1;
          }
        }
      }
    }
  }
}
