.seasons {
  position: relative;
  background: url("../../public/assets/map-bg.webp");
  background-size: cover;
  background-attachment: fixed;
  @include flexCenter;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282b30;
  color: #fff;

  @include phone {
    padding: 50px 0;
  }

  .char {
    position: absolute;
    top: -20%;
    left: 5%;
    @include desktop {
      display: none;
    }
    img {
      width: 300px !important;
    }
  }

  & > h2 {
    @include titleSection;
    margin-bottom: 140px;

    @include phone {
      margin-top: 10px;
    }
  }

  .container {
    // width: 80%;
    .cards {
      gap: 0.75em * 3;
      .card {
        &:nth-last-child(n + 5) {
          filter: grayscale(0);
        }
        position: relative;
        filter: grayscale(100%);
        cursor: pointer;
        transition: 0.25s;
        overflow: hidden;
        // background-color: #6f6e6e;
        // border-radius: 10px;
        /* From https://css.glass */
        background: linear-gradient(-90deg, #9a291a, #d65e4e, #9a291a);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        background-size: 350px 1px;

        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border: 2px solid rgba(255, 255, 255, 0.09);
        width: 235px;
        height: 300px;
        @include desktop {
          width: 280px;
        }

        @include phone {
          width: 70%;
        }

        div {
          position: absolute;
          text-align: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: $base-font-size * 20;
          z-index: 1;
          transition: 0.3s;
          background: rgba(5, 5, 5, 0.88);
          // background: rgba(5, 5, 5, 0.58);
        }
        &:hover {
          // background: linear-gradient(180deg, #9a291a, #d65e4e, #9a291a);
          background-position-x: -100px;
          transform: translateY(-20px);
          /* From https://css.glass */
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(12px);
          -webkit-backdrop-filter: blur(12px);
          // border: 1px solid rgba(188, 188, 188, 0.69);

          div {
            opacity: 0.6;
            // background: rgba(5, 5, 5, 0.38);
          }
        }
      }
    }
  }
}
